---
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'Contact',
};

const inputs = [
  { type: 'text', name: 'name', label: 'Name' },
  { type: 'email', name: 'email', label: 'Email' }
];

const textarea = {
  label: 'Message'
};

const disclaimer = {
  label: 'By submitting this contact form, you agree to our privacy policy.'
};
---

<Layout metadata={metadata}>

<section class="relative flex items-center justify-center min-h-[50vh] overflow-hidden">
  <div class="absolute inset-0">
    <img
      src="/Images/hatshepsut/temple_hatshepsut.jpg"
      class="w-full h-full object-cover"
      alt="Contact"
    />
    <div class="absolute inset-0 bg-black/40"></div>
  </div>
</section>

<ContactUs
  id="form"
  title="Drop us a message today!"
  inputs={inputs}
  textarea={textarea}
  disclaimer={disclaimer}
  description="We typically respond within 24 hours"
/>

</Layout>
