---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Cook Islands - Travel Chronicles Studio',
};
---

<Layout metadata={metadata}>

 <!-- HERO -->
  <section class="relative flex items-center justify-center min-h-[60vh] text-center px-6 overflow-hidden">

    <div class="absolute inset-0">
      <img src="/Images/cookislands/cook_island_thumb.png" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-black/50"></div>
    </div>

    <div class="relative z-10 text-white">
      <h1 class="text-5xl md:text-6xl font-bold">Cook Islands</h1>
      <p class="mt-4 text-lg opacity-90">Rarotonga offers lush mountains, crystal lagoons, white sandy beaches, warm culture, island hospitality, snorkelling reefs, relaxed pace, and Polynesian beauty</p>
    </div>

  </section>

 <!-- Rarotonga -->
<section id="highlights" class="max-w-4xl mx-auto px-6 pt-5 pb-0">

  <h2 class="text-2xl font-bold mb-6"></h2>

  <div class="grid md:grid-cols-3 gap-6">

    <!-- Rarotonga 2023 -->
    <div
      onclick="openModal('/drHqWlh0yEU')"
      class="cursor-pointer group block overflow-hidden rounded-2xl"
    >
      <img
        src="/Images/cookislands/rarotonga_2022_thumb.png"
      class="w-full aspect-[16/9] object-cover group-hover:scale-105 transition duration-700"
        alt="Rarotonga 2022"
      />

      <div class="p-4">
        <p class="text-sm opacity-80 leading-relaxed">
         <span class="font-semibold text-base block mb-1"> Rarotonga </span> 10 amazing days on the stunning tropical island of Rarotonga [2022]
        </p>

        <span class="text-sm font-semibold underline mt-2 inline-block">
          ▶ Watch video
        </span>
      </div>
    </div>

      </div>
    </div>
</section>

</Layout>