---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Netherlands',
};
---

<Layout metadata={metadata}>

  <section class="relative flex items-center justify-center min-h-[60vh] text-center px-6 overflow-hidden">
    <div class="absolute inset-0">
      <img src="/Images/netherlands/netherlands_thumb.jpg" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-black/50"></div>
    </div>

    <div class="relative z-10 text-white">
      <h1 class="text-5xl md:text-6xl font-bold">Netherlands</h1>
      <p class="mt-4 text-lg opacity-90">
        Canals, bicycles, museums, tulips, bridges, history, culture, coffeehouses, architecture, vibrant, liberal, nightlife, markets, charm, walkable
      </p>
    </div>
  </section>

  <section>Coming soon...</section>

</Layout>