---

<Layout metadata={metadata}>

 <!-- HERO -->
  <section class="relative flex items-center justify-center min-h-[60vh] text-center px-6 overflow-hidden">

    <div class="absolute inset-0">
      <img src="/Images/portugal/portugal_thumb.png" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-black/50"></div>
    </div>

    <div class="relative z-10 text-white">
      <h1 class="text-5xl md:text-6xl font-bold">Portugal</h1>
      <p class="mt-4 text-lg opacity-90">Lisbon’s trams, tiled streets, viewpoints, coastal light; Sintra’s palaces, misty hills, castles, gardens, fairytale charm, history, culture, Atlantic scenery</p>
    </div>

  </section>

  <!-- CONTENT -->
  <section>Coming soon...</section>

</Layout>